.content {
    width: 100%;

    display: flex;

    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

svg {
    width: 30px;
    height: 30px;
}

.error {
    color: red;
}

.fine {
    color: green;
}